<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<h1 th:text="${title}">Default Title</h1>


</body>

<div id="header">
    <h1>+Ve Vibes</h1>
</div>

<div id="section">
    <h1>Cheers to a happier you!</h1>
    <p>Do you want to shift your innately negatively biased mind to one that stays positive? Negativity
        is all around us and has a significant impact on your mind, preventing you from reaching your
        full potential. Those who cultivate a positive mindset have increased attention, determination,
        energy, enthusiasm AND are HAPPIER human beings! Research shows that one of the effective ways to
        re-program your mind to be more positive is to practice gratitude. Create your personal space to
        practice gratitude on a daily basis!
        Keep it short and sweet! Join others like you! Build a fabulous positive community!</p>

</div>

<div id="aside">

</div>



<span>
    <!--<input type="submit" value="Get Started" /> <a href="/register">Register</a>-->
    <a href="/register" class="btn btn-primary">Get Started</a>

    <p></p>

    <p>Already a Member?</p> <input type="submit" value="Log In" />

</span>



</html>