<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<h1 th:text="${title}">Default Title</h1>



<div class = "container "  style = "background: pink; border:3px solid #cecece; height: 100px;">
    <div id="header">
        <h1>+Ve Vibes</h1>
    </div>
</div>

<div class = "container "  style = "background: pink; border:3px solid #cecece; height: 600px;">


    <!--<div id="section">-->
            <h1>Cheers to a happier you!</h1>

            <div class="col-md-8" >
                 <div style="margin-top:5px; padding:20px; background: white; height: 300px;border:3px solid #cecece;">
                <p style ="font-size:19px" >Do you want to shift your innately negatively biased mind to one that stays positive? Negativity
                    is all around us and has a significant impact on your mind, preventing you from reaching your
                    full potential. Those who cultivate a positive mindset have increased attention, determination,
                    energy, enthusiasm AND are HAPPIER human beings! Research shows that one of the effective ways to
                    re-program your mind to be more positive is to practice gratitude. Create your personal space to
                    practice gratitude on a daily basis!
                    Keep it short and sweet! Join others like you! Build a fabulous positive community!</p>

                 </div>



        <!--<div id="aside">-->




                <div style="padding-top: 150px; margin-top:5px; background: pink; height: 200px;">

                    <div style="display: inline-block;margin-right:40px">
                        <a href="/register" class="btn btn-primary">Get Started</a>
                    </div>

                    <div style="display: inline-block;">
                        <p>Already a Member?</p>
                    </div>

                    <div style="display: inline-block;">
                        <a href="/login" class="btn btn-primary">Log In</a>
                        <!--<input type="submit" value="Log In" />-->

                    </div>

                </div>

            </div>


            <div class="col-md-4" style="margin-top:5px; background: white; height: 500px;border:3px solid #cecece;">

                <p>Image</p>

                <!--<url value="/upload" var="upload" />
                <url value="/file" var="filePath" />-->

                <form enctype="multipart/form-data"	method="post">
                    <input type="file" accept="image/*" name="file" />
                    <input type="submit" value="upload" />
                </form>

                <img src="${filePath}" height="100" width="100"/>



            </div>
</div>



</body>
</html>