<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<style>
</style>
<body>


<div class = "container "  style = "background: pink; border:3px solid #cecece; height: 100px;">

    <form method = "post" th:object="${user}" >
        <div class="row">
            <div class="col-md-4">
                <form method="POST" enctype="multipart/form-data">
                <div class="profile-img">

                    <div class="file btn btn-lg btn-primary">
                        <p>Upload profile picture</p>
                        <input type="file" name="pic" accept="image/*" class="round " value="submit"/>
                    </div>
                </div>
                </form>

            </div>

            <div class="col-md-6">

                <h1 style= "display:inline">Welcome</h1>

                <h2 style= "display:inline" th:text="${firstName}"></h2>


            </div>

            <div class="col-md-2">

                <nav>
                    <a href="/">Home</a> |
                    <a href="/">Sign Out</a>

                </nav>

            </div>

        </div>

    </form>

</div>


<div class ="container " style="background: pink; height: 620px; border:3px solid #cecece;">
    <!--<form method="post" th:object="${post}">-->

    <div class="col-md-5" style="margin-top:5px">

        <form method = "post" th:object="${post}">

            <div class="form-group" style="background: white; height: 240px;border:3px solid #cecece;">

                <p>What are you grateful for today?</p>

                <!--   <input type="" name="postId" th:field="*{id}"/>-->

                 <div class="form-group">
                      <label th:for = "createDate">Date mm/dd/yy</label>
                      <input class="form-control" th:field="*{createDate}"/>
                      <span th:errors="*{createDate}" class="error"></span>
                  </div>

                <div class="form-group">
                    <label th:for = "entry">Entry</label>
                    <input class="form-control" th:field="*{entry}"/>
                    <span th:errors="*{entry}" class="error"></span>
                </div>
                <!-- <input type="" name="UserId" th:field="*{id}"/> -->
                                <!-- <div class="form-group">
                                     <label th:for = "user">User Id</label>
                                     <input class="form-control" th:field="*{user}"/>
                                     <span th:errors="*{user}" class="error"></span>
                                 </div>-->

                <!-- <input type="hidden" name="userId" th:field="${user.id}"/>-->

                <!--<input type="" name="userId" th:value="*{post.userId}" />-->

                <!--<div th:text="'Created: ' + ${#dates.format(post.createDate, 'dd-MMM-yyyy'")}></div>-->

                <!--<div class="form-group">
                    <input type = "date">
                    <input class="form-control" th:field="*{entry}" />
                    <span th:errors="*{entry}" class="error"></span>
                </div>-->

                <input type = "submit" value = "New Post"/>

                <!--<p><a href = "/post/">Create New Post</a></p>-->

                <!-- <p><a th:href="'/menu/add-item/' + ${menu.id}">Add Cheese</a></p>-->
            </div>
        </form>



        <div style=" margin-top:5px; background: white; height: 200px;border:3px solid #cecece;">

            <p>Feeling low?</p>
            <br/>
            <br/>
            <br/>


            <!--<img src="meh.jpg" alt="meh" width="100" height="100"/>

            <p><input type = "submit" value = "Click me!"/></p>-->


            <a href="/quotes" class="btn btn-primary">Click me for motivational quotes</a>

        </div>

        <div style="margin-top:5px; background: white; height: 146px;border:3px solid #cecece;">

            <p>Share something awesome!</p>
            <input type = "submit" value = "Share"/>

        </div>


    </div>

    <form th:object="${userPosts}">
        <div class="col-md-7" style="margin-top:5px; background: white; height: 606px;border:3px solid #cecece;">
            <p>My gratitude entries</p>

            <table class="table">

                <tr>
                    <th>Date</th>
                    <th>Entry</th>

                </tr>

                <tr th:each="post : ${userPosts}">
                    <td th:text="${post.createDate}"></td>
                    <td th:text="${post.entry}"></td>

                </tr>

            </table>

        </div>
    </form>

</div>

</body>

</html>